.paper {
    display: flex;
    margin-top: 64px;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding: 10px;
}

.avatar {
    background-color: #ed312f;
}

.form{
    margin: 8px;
}

.submit{
    margin: 24px 0 16px;
}