.center {
  text-align: center;
}

.listView{
  height: 450px;
}

.edit {
  align-self: center;
  cursor: pointer;
}

.lineItem{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.calendar{
  flex-basis: 2.5rem;
  align-self: center;
}

.textItem{
  width: 90%;
  margin: 20px;
}

.button{
  text-align: center;
}

.buttonContainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.deleteButton{
  text-align: center;
  margin-top: 20px;
}

.fab{
  position: absolute;
  bottom: 0;
  right: 10px;
}

.date{
  color: #555555;
  font-style: italic;
  font-weight: bold;
  font-size: 70%;
}

.description{
  font-weight: bold;
  margin-left: 5px;
  align-self: center;
}
