.header {
    background-color: #030303;
    font-style: italic;
    font-weight: bolder;
}

.profileIcon{
    cursor: pointer;
    align-items: flex-end;
}

.toolbar {
    justify-content: space-between;
}

.iconBtn{
    cursor: pointer;
    display: flex;
}

@keyframes marquee {
    25% {
        transform: rotateZ(45deg) rotateY(60deg);
    }
}

.img {
    height: 42px;
    -webkit-animation: marquee 10s infinite linear;
}