.createItem {
  width: 90%;
  margin: 15px;
}

.timeline {
  width: 30%;
  margin-right: 15px;
  margin-left: 15px;
}

.button {
  text-align: center;
}

.dateContainer {
  display: flex;
  justify-content: space-evenly;
}

.fab {
  left: 30px;
  margin: 20px 80px 20px 20px;
  width: 10%;
}

.add {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.timeOffHeader {
  justify-content: flex-end;
  margin-top: 25px;
  display: flex;
}

.header {
  margin-top: 25px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}